<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Job Hunt</title>
        <link rel="stylesheet" href="~/css/site.css" />
    <script src="~js/site.js"></script>

</head>
<body>
    <header id="navbar" class="navbar">
        <div class="logo">
            <img src="~/images/headhunting.png" alt="logo">
            <h1>Job Hunt</h1>
        </div>
        <ul>
            <li><a href="@Url.Action("home","First")" target="_blank">Home</a> </li>
            <li><a href="@Url.Action("job","First")" target="_blank">Jobs</a></li>
            <li><a href="@Url.Action("Candidates","First")" target="_blank">Candidates</a></li>
            <li><a href="@Url.Action("blog","First")" target="_blank">Blog</a></li>
            <li><a href="@Url.Action("ContactUs", "First")" target="_blank">Contact us</a></li>
            <a href="@Url.Action("login", "First")" target="_blank">
                <button type="button">Login</button>
                </a>
            <a href="@Url.Action("register", "First")" target="_blank">
                <button type="button">Register</button
                ></a>
       
        </ul>
        <img id="user" src="~/images/user.png" alt="user">
    </header>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="bottom">
            <div class="footerClass">
                <div class="footer-row">
                    <div class="footer-col">
                        <h4>Company</h4>
                        <div class="company">
                            <ul>
                                <li><a href="#">Contact us</a></li>
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Privacy policy</a></li>
                                <li><a href="#">Terms and conditions</a></li>
                            </ul>
                        </div>

                    </div>
                    <div class="footer-col">
                        <h4>Quick Links</h4>
                        <div class="quicklinks">
                            <ul>
                                <li>
                                    <img src="~/images/phone.ico" alt="Phone Icon"><a href="tel:03243132991"> +92 324 3132991</a>
                                </li>
                                <li>
                                    <img src="~/images/mail.ico" alt="Mail Icon"><a href="mailto:em.mehak04@gmail.com">
                                        em.mehak04@gmail.com
                                    </a>
                                </li>
                                <li>
                                    <img src="~/images/location.ico" alt="Location Icon"><a href="#">
                                        Sialkot,
                                        Pakistan
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="footer-col">
                        <h4>Follow us at</h4>
                        <ul class="social">
                            <li>
                                <a href="https://www.linkedin.com/in/mehak-eman-2a229a24a?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">
                                    <img src="~/images/linkedin.ico" alt="LinkedIn Icon">
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/EM.MEHAK19?mibextid=ZbWKwL">
                                    <img src="~/images/facebook.ico"
                                         alt="Facebook Icon">
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/em.mehak">
                                    <img src="~/images/instagram.ico"
                                         alt="Instagram Icon">
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </footer>
    </div>
    </body>
</html>
